# Ignore everything
*

# Except
!.gitignore
!README.md

!*/

!algorithmic-foundations/lab4/juuso_pyykkonen_navigation_stack/juuso_pyykkonen_navigation_stack/*.py
!algorithmic-foundations/lab4/interfaces/srv
